
.contact-tuple {
    list-style-type: none;
    margin: none;
    padding: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contact-tuple li {
    flex-grow: 1;
    flex-basis: 0;
    display: inline-block;
    min-width: 270px;
}

.contact-tuple li div {
    margin: 10px;
    text-align: center;
}