nav {
    background-color: var(--color-secondary);
    padding: 25px;
}

.nav-list {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.nav-list li  {
    flex-grow: 1;
    flex-basis: 20%;
    padding: 5px;
    margin: 5px;
    text-align: center;
    font-weight: bold;
    font-size: var(--default-font-size);

    background-color: var(--color-nav-link);
    color: var(--color-secondary);
    border: 2px solid var(--color-nav-link);
}

.nav-list li:hover {
    border: 2px solid var(--color-nav-link);
    color: var(--color-nav-link);
    background-color: var(--color-secondary);
}

.nav-list li a {
    color: inherit;
    text-decoration: none;
}