:root {
    --color-primary: #B8E0AB;
    --color-secondary: white;
    --color-tertiary: rgba(85, 107, 47, 0.055);
    --color-shade: #B8E0AB;
    --color-button: rgb(94, 177, 67);
    --color-red: rgb(212, 64, 64);
    --color-light-red: rgb(172, 108, 113);

    --default-font-size: 1.3em;
    --button-font-size: 2.0em;

    --border-radius: 5px;
}

#countdown-timer {
    text-align: center;
    font-size: 1.2em;
    background-color: var(--color-primary);
    padding: 10px;
    font-family: 'Roboto Mono', monospace;
}

#header-text {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    color: var(--color-secondary);
    text-align:center;
    display: inline-block;
    margin: 25px;
    font-size: 4.5em;
}

#header-subtitle {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    color: white;
    text-align:center;
    display: inline-block;
    margin: 25px;
    font-size: 3.5em;
}

#header-line {
    margin: 0px 100px 0px 100px;
    border: 2px solid var(--color-secondary);
}

header {
    margin: 0px 25px 0px 25px;
    background: var(--color-shade);
    background-size: 100%;
    text-align: center;
    border: 5px solid var(--color-secondary);
}

body {
    margin: 0px auto;
    max-width: 1000px;
    min-width: 400px;

    background: var(--color-shade);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    color: black;
    font-size: var(--default-font-size);
}

main {
    background-color: var(--color-secondary);
    margin: 25px;
}

button {
    border: 2px solid var(--color-button);
    background: var(--color-button);
    color: var(--color-secondary);
    padding: 12px 28px;
    margin: 5px;
    text-align: center;
    border-radius: var(--border-radius);
    font-size: var(--default-font-size);
    font-weight: bold;
}

button:hover {
    border: 2px solid var(--color-button);
    background-color: var(--color-secondary);
    color: var(--color-button);
}

#decline-button {
    border: 2px solid var(--color-red);
    background: var(--color-red);
    color: var(--color-secondary);
}

#decline-button:hover {
    border: 2px solid var(--color-red);
    background-color: var(--color-secondary);
    color: var(--color-red);
}

section {
    padding: 20px;
    text-align: center;
}

section h2 {
    background-color: var(--color-tertiary);
    padding: 0px 10px;
}

.map-view {
    width: 100%;
    height: 100%;
    left: 0; 
    top: 0;
    position: absolute; 
    border-width: 0;
}

.map-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 50%;
}

nav {
    background-color: var(--color-secondary);
    padding: 25px;
}

.nav-list {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.nav-link {
    flex-grow: 1;
    flex-basis: 20%;
    padding: 5px;
    margin: 5px;
    text-align: center;
    font-weight: bold;

    background-color: var(--color-button);
    color: var(--color-secondary);
    border: 2px solid var(--color-button);
}

.nav-link:hover {
    border: 2px solid var(--color-button);
    color: var(--color-button);
    background-color: var(--color-secondary);
}

.nav-link a {
    color: inherit;
    text-decoration: none;
}

.timeline-image {
    width:  10%;
    height: 10%;
    min-width:  50px;
    min-height: 50px;
}

table {
    width: 90%
}

tr {
    margin-top: 500px;
    margin-bottom: 10px;
}

.column-event {
    text-align: left;
}

.column-time {
    text-align: center;
}

.column-image {
    text-align: center;
}

#info-list {
    list-style-type: none;
    margin: none;
    padding: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.info-list-item {
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    display: inline-block;
}

#img-verlobung {
    width: 66%;
    border-radius: 50%;
    min-width: 200px;
}

#info-list-text {
    margin: 10px;
    width: 50%;
    text-align: left;
}