:root {
    --h1-font-size: 1.4rem;
    --default-font-size: 1.1rem;
    --button-font-size: 1.3rem;
    --title-font-size: 4.5rem;
    --subtitle-font-size: 3.5rem;

    --border-radius: 5px;
    
    /* blau */
    /* 1: rgb(90, 128, 199); */
    /* 2: rgb(166, 197, 255); */
    
    --text-color-header: white;
    --background-color-header: #B8E0AB;
    
    --text-color-main: black;
    --background-color-main: white;
    --background-color-page: #B8E0AB;

    --text-color-section-header: white;
    --background-color-section-header: rgb(94, 177, 67);

    --color-nav-primary: rgb(94, 177, 67);
    --color-nav-secondary: white;

    --color-button-primary: rgb(94, 177, 67);
    --color-button-secondary: white;

    --color-button-positive-primary: rgb(94, 177, 67);
    --color-button-positive-secondary: white;

    --color-button-negative-primary: rgb(212, 64, 64);
    --color-button-negative-secondary: white;
}

#countdown-timer {
    padding: 10px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: var(--h1-font-size);
    background-color: var(--background-color-page);
}

header {
    margin: 0px 25px 0px 25px;
    background: var(--background-color-header);
    background-size: 100%;
    text-align: center;

    border-width: 5px;
    border-color: var(--text-color-header);
    border-style: solid;

    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    color: var(--text-color-header);
}

header h1 {
    font-size: var(--title-font-size);
}

header h2 {
    font-size: var(--subtitle-font-size);
}

header hr {
    margin: 0px 100px 0px 100px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--text-color-header);
}

footer {
    text-align: center;
}

footer button {
    margin: 5px;
    padding: 5px;
    border-radius: 0px;
    border-width: 0px;
    font-weight: unset;
    font-size: var(--default-font-size);
    background: var(--color-button-primary);
    color: var(--color-button-secondary);
}

input {
    font-size: var(--default-font-size);
    text-align: left;
}

#register-table {
    width: 50%;
    min-width: 250px;
    margin-left:auto; 
    margin-right:auto;
}

#register-table input {
    width: 80%;
    text-align: right;
}

#register-table div {
    text-align: center;
}

#participant-table {
    width: unset;
    margin-left:auto; 
    margin-right:auto;
}

#participant-table input {
    max-width: 80px;
}

#participant-table td {
    width: 50%;
}

#participant-table div {
    margin: 10px;
    min-width: 200px;
    text-align: right;
}

body {
    margin: 0px auto;
    max-width: 1000px;
    min-width: 400px;

    color: var(--text-color-main);
    background: var(--background-color-page);
    font-size: var(--default-font-size);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

main {
    background-color: var(--background-color-main);
    margin: 25px;
}

section {
    padding: 20px;
    text-align: center;
}

section h1 {
    font-weight: bold;
    font-size: var(--h1-font-size);
    background-color: var(--background-color-section-header);
    color: var(--text-color-section-header);
    margin-top: 50px;
    margin-top: 30px;
    padding: 5px;
}

section div {
    text-align: left;
    font-size: var(--default-font-size);
}

table {
    width: 90%
}

tr {
    margin-top: 500px;
    margin-bottom: 10px;
}

.map-view {
    width: 100%;
    height: 100%;
    left: 0; 
    top: 0;
    position: absolute; 
    border-width: 0;
}

.map-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 50%;
}

#timeline-table {
    margin-left:auto; 
    margin-right:auto;
    width: unset;
}

.column-event {
    text-align: center;
}

.column-event div {
    margin: 10px;
    margin-left: 30px;
}

.column-image {
    text-align: center;
}

.column-image img {
    width:  70px;
    height: 70px;
    margin: 10px 0px;
}

#wedding-planner-contact {
    text-align: center;
}